header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid brown;
}

li {
    display: inline-table;
    margin: 1rem;
    cursor: pointer;
}

.lista {
    text-decoration: underline red;
}

ul {
    margin-right: 250px;
}